#include <winver.h>

IDI_APPICON ICON "lumacapture.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,0,0,0
 PRODUCTVERSION 2,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "LumaCapture"
            VALUE "FileDescription", "LumaCapture screen recorder"
            VALUE "FileVersion", "2.0.0"
            VALUE "InternalName", "LumaCapture"
            VALUE "LegalCopyright", "GPL-3.0 (bundled FFmpeg/x264 build)"
            VALUE "OriginalFilename", "LumaCapture.exe"
            VALUE "ProductName", "LumaCapture"
            VALUE "ProductVersion", "2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
